.field {
  width: 610px;
  height: 610px;
  background-color: gold;
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-flow: row wrap;  
}

.field-cell {
  width: 200px;
  height: 200px;
  display: block;
  background-color: #f2f2f2;
  border: 1px solid gold;
}

.field-cell_cross {
  background: #000;
}

.field-cell_cirle {
  background: #fff;
}

.cell-value {
  color: black;
  font-size: 18px;
  line-height: 200px;
  text-align: center;
}