.field {
  width: 610px;
  height: 610px;
  background-color: gold;
  font-size: 0;
}

.field-cell {
  width: 200px;
  height: 200px;
  display: inline-block;
  background-color: #f2f2f2;
  border: 1px solid gold;
}

.field-row_middle {
  border-top: 5px solid gold;
  border-bottom: 5px solid gold;
}

.field-cell_middle {
  border-left: 5px solid gold;
  border-right: 5px solid gold;
}

.field-cell_cross {
  background: #000;
}

.field-cell_cirle {
  background: #fff;
}