html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    height: 10%;
    background: darkolivegreen;
}

.main {
    height: 90%;
    background: grey;
    padding: 0 40px 20px 40px;
    box-sizing: border-box;
}

.main-content {
    width: 100%;
    height: 100%;
    background: whitesmoke;
    border-radius: 0  0  40px 40px;
    font-size: 0;
    padding: 20px;
    box-sizing: border-box;
}

.column {
    height: 100%;
    width: 20%;
    float: left;
    font-size: 20px;
    padding: 10px;
    background: lemonchiffon;
    box-sizing: border-box;
}

.column-70 {
    width: calc(70% - 10px);
    margin-right: 10px;
    border-radius: 0 0 0 40px;
}

.column-30 {
    width: calc(30% - 10px);
    margin-left: 10px;
    border-radius: 0 0 40px 0;
}

.column-header {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 20px;
}